[class*="alert"] {
    display: inline-block;

    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    padding: 1em;
    padding-top: .5em;
    margin: .75em 0;

    font-family: inherit;
    font-size: inherit;
}

[class*="alert"]::before {
    display: block;
    font-weight: bolder;
    margin: .5em 0;

    font-size: .9em;
}

.alert-warning {
    background-color: $warning-bg-color;
    color: $warning-text-color;
    border-color: $warning-text-color;
}

.alert-warning::before {
    content: "⚠ WARNING"
}

.alert-tip {
    background-color: $tip-bg-color;
    color: $tip-text-color;
    border-color: $tip-text-color;
}

.alert-tip::before {
    content: "✔ TIP";
}

.alert-note {
    background-color: $note-bg-color;
    color: $note-text-color;
    border-color: $note-text-color;
}

.alert-note::before {
    content: "ⓘ NOTE";
}
