details {
    border: 1px solid $body-text-color;
    color: $body-text-color;
    background-color: gainsboro;

    border-radius: 5px;
    padding: .5em 1em;

    margin-bottom: .5em;
}

details > summary {
    list-style-type: "＋ ";
    list-style-position: inside;
    font-weight: bold;
    
    cursor: pointer;
}

details[open] > summary {
    list-style-type: "－ ";
}
