details {
    border: 1px solid var(--body-border-color);
    color: inherit;
    background-color: var(--details-bg-color);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;

    summary {
        list-style-type: "＋ ";
        list-style-position: inside;
        font-weight: bold;
        cursor: pointer;
    }

    &[open] summary {
        list-style-type: "－ ";
    }
}
