@mixin desktop {
    @media screen and (min-width: #{35em}) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: #{35em}) {
        @content;
    }
}

body {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
    line-height: 1.5;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: $body-bg-color;
    color: $body-text-color;

    @include desktop {
        max-width: 48em;
        font-size: 1.1rem;
    }
    @include mobile {
        font-size: 0.9rem;
    }
}

a {
    color: $body-link-color;
    text-decoration: none;

    &:hover {
        color: $body-hover-color;
    }
}

.page-footer {
    text-align: center;
    font-weight: bold;
    margin: 1rem;

    @include mobile {
        font-size: 0.8rem;
    }
}
