#player-container{
    position: sticky;
    bottom: 0;
    height: 30vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    @include mobile {
        height: 40vh;
    }
}

#player {
    flex-grow: 1;
    border: none;
}

#player-controls {
    align-self: flex-end;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    line-height: 0;

    @include desktop {
        button {
            width: 2.5em;
            height: 2.5em;
        }
    }
    @include mobile {
        button {
            width: 3.5em;
            height: 3.5em;
        }
    }
}

.clip {
    display: inline-block;
    background-color: var(--button-bg-color);
    border: 1px solid var(--body-border-color);
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
    cursor: pointer;

    &:active {
        background-color: var(--active-bg-color);
    }

    &::before {
        content: "► ";
    }
}

li > .clip {
    margin-bottom: .25em;
}
