#player {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

#player-embed-container iframe {
    margin-bottom: -10px;
}

#player-controls {
    text-align: right;

    position: absolute;
    right: 0;

    margin-top: -46px;
    margin-right: 10px;

    button {
        width: 36px;
        height: 36px;
    }
}

.body-player-padding {
    padding-bottom: 270px;
}

.player-hidden {
    display: none;
}

.clip {
    display: inline-block;
    background-color: $button-bg-color;
    border: 1px solid $body-border-color;
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
    cursor: pointer;

    &:active {
        background-color: $active-bg-color;
    }

    &::before {
        content: "► ";
    }
}

li > .clip {
    margin-bottom: .25em;
}
