<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
  </head>

  <body>
    <nav>
      <a href="/">Home</a>  
      <a href="/about">About</a>  
    </nav>
    <main id="content" role="main">
      {{ content }}
    </main>
    <footer>
      For suggestions, requests, and the like,
      see the <a href="{{ site.github.repository_url }}">GitHub repository</a>.
    </footer>
  </body>
</html>
