<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
  </head>

  <body>
    <nav>
      <a href="/">Home</a>  
      <a href="/guide">Guide</a>  
      <a href="/about">About</a>  
    </nav>
    <main id="content" role="main">
      {{ content }}
    </main>
    <footer>
      For suggestions, requests, and the like,
      see the <a href="{{ site.github.repository_url }}">GitHub repository</a>.
    </footer>

    {% if page.has_clips %}
    <div id="player" class="player-hidden">
      <div id="player-controls">
        <button id="player-closebtn">✕</button>
      </div>
      <div id="player-embed-container"> </div>
    </div>
    <script src="{{ "/assets/js/player.js" | relative_url }}"></script>
    {% endif %}
  </body>
</html>
